# Core machine learning framework
mlx>=0.25.0
numpy

# Models and tokenizers
transformers[sentencepiece]>=4.39.3
huggingface_hub

# API service related
fastapi
uvicorn
pydantic

# Data processing
datasets # Used in datasets.py

# Necessary tools
torch>=2.0.0 # For quantized matrix processing
protobuf # For serialization
pyyaml # For configuration files

# Langchain related
langchain-core  # in chat_gbx.py and gbx_pipeline.py

# Optional if use mlx-community model
mlx-lm>=0.24.0
